* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.1rem;
  color: black;
  font-family: "Bree Serif", serif;
}

.container__img--header {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 90vh;
}
@media only screen and (max-width: 650px) {
  .container__img--header {
    height: 96vh;
  }
}

.navbar__nav--mobile {
  display: none;
}
@media only screen and (max-width: 650px) {
  .navbar__nav--mobile {
    border-radius: 1rem;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translate(-50%, 30%);
    background-color: white;
    padding: 5rem;
    list-style: none;
  }
  .navbar__nav--mobile-li {
    margin-top: 1rem;
  }
  .navbar__nav--mobile ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.4rem;
  }
  .navbar__nav--mobile-contact {
    background-color: hsl(51, 100%, 49%);
    border-radius: 1.2rem;
    padding: 1rem;
  }
  .navbar__nav--mobile a {
    text-decoration: none;
    color: black;
  }
}

.navbar__logo {
  position: absolute;
  top: 0;
  padding: 3rem;
}
.navbar__nav {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3rem;
}
@media only screen and (max-width: 650px) {
  .navbar__nav {
    display: none;
  }
}
.navbar__nav--contact {
  background-color: white;
  color: hsl(212, 27%, 19%) !important;
  padding: 0.7rem;
  border-radius: 1rem;
  text-transform: uppercase;
}
.navbar__nav ul {
  margin-right: 6rem;
  list-style: none;
  display: flex;
  gap: 2rem;
  font-size: 1.2rem;
}
.navbar__nav ul a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

.creative {
  overflow-x: hidden;
  position: absolute;
  place-content: center;
  letter-spacing: 0.4rem;
  font-weight: 100;
  font-size: 2rem;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 50%);
  color: white;
}
@media only screen and (max-width: 650px) {
  .creative {
    top: 5%;
    text-align: center;
  }
}
.creative__logo {
  display: none;
  position: absolute;
  top: 3.3%;
  left: 80%;
  transform: translate(-50%, 50%);
  cursor: pointer;
  color: white;
}
@media only screen and (max-width: 650px) {
  .creative__logo {
    display: block;
  }
}
.creative__arrow {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.photos {
  overflow: hidden;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr 1fr;
}
@media only screen and (max-width: 650px) {
  .photos {
    display: flex;
    flex-direction: column;
  }
}
.photos__left-side {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  padding: 0.5rem 7rem;
}
@media only screen and (max-width: 650px) {
  .photos__left-side {
    height: 50vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    text-align: center;
    margin-left: 0;
    display: flex;
    gap: 1rem;
    font-size: 1.1rem;
  }
}
.photos__left-side p {
  opacity: 0.7;
  font-size: 1.1rem;
}
@media only screen and (max-width: 650px) {
  .photos__left-side p {
    text-align: center;
  }
}
.photos__left-side--btn {
  outline-style: none;
  border: none;
  background-color: white;
  text-transform: uppercase;
  color: black;
  -webkit-text-decoration: underline yellow;
          text-decoration: underline yellow;
  font-weight: 700;
  font-size: 1.4rem;
  cursor: pointer;
}
.photos__left-side--transform {
  font-family: "Barlow", sans-serif;
  font-size: 3rem;
}
@media only screen and (max-width: 650px) {
  .photos__left-side--transform {
    font-size: 1.5rem;
  }
  .photos__left-side--transform-br {
    display: none;
  }
}
.photos__left-side-2 {
  grid-column: 2/3;
}
.photos__left-side-3 {
  position: relative;
}
.photos__left-side-3__head {
  opacity: 0.6;
  font-weight: 600;
  font-size: 2rem;
  top: 60%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
}
@media only screen and (max-width: 375px) {
  .photos__left-side-3__head {
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    margin-bottom: 2rem;
    font-size: 1.4rem;
  }
}
.photos__left-side-3__text {
  top: 68%;
  width: 60%;
  text-align: center;
  font-size: 1.2rem;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 50%);
}
@media only screen and (max-width: 375px) {
  .photos__left-side-3__text {
    top: 55%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 0.8rem;
  }
}
.photos__right-side-2 {
  grid-row: 2/3;
  grid-column: 1/2;
}
.photos__right-side-3 {
  position: relative;
}
.photos__right-side-3__head {
  opacity: 0.6;
  font-weight: 600;
  font-size: 2rem;
  top: 60%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
}
@media only screen and (max-width: 375px) {
  .photos__right-side-3__head {
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 1.4rem;
  }
}
.photos__right-side-3__text {
  top: 68%;
  width: 60%;
  text-align: center;
  font-size: 1.2rem;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 50%);
}
@media only screen and (max-width: 375px) {
  .photos__right-side-3__text {
    top: 55%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }
}
.photos img {
  display: inline-block;
  overflow-x: hidden;
  width: 50vw;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 650px) {
  .photos img {
    width: 100vw;
  }
}

.testimonials {
  height: 65vh;
  width: 90vw;
}
@media only screen and (max-width: 650px) {
  .testimonials {
    height: -moz-min-content;
    height: min-content;
  }
}
@media only screen and (max-width: 375px) {
  .testimonials {
    height: -moz-min-content;
    height: min-content;
  }
}
.testimonials__head {
  text-align: center;
  padding-left: 10rem;
  margin-top: 10rem;
  opacity: 0.4;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-size: 1.7rem;
  margin-bottom: 5rem;
}
@media only screen and (max-width: 650px) {
  .testimonials__head {
    font-size: 1.3rem;
    padding-left: 2rem;
    text-align: center;
  }
}
@media only screen and (max-width: 375px) {
  .testimonials__head {
    margin-top: 2rem;
    font-size: 1.1rem;
    width: 100%;
    opacity: 0.4;
  }
}

.testimonials__person {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10rem;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
}
@media only screen and (max-width: 650px) {
  .testimonials__person {
    display: flex;
    flex-direction: column;
    -moz-column-gap: 0.1rem;
         column-gap: 0.1rem;
    padding-left: 2rem;
  }
}
@media only screen and (max-width: 375px) {
  .testimonials__person {
    margin-top: -2rem;
  }
}

.testimonials__persons {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-size: 1.3rem;
  text-align: center;
}
@media only screen and (max-width: 650px) {
  .testimonials__persons {
    gap: 0.6rem;
    text-align: center;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 375px) {
  .testimonials__persons {
    gap: 1rem;
    font-size: 0.9rem;
  }
}
.testimonials__persons__jobs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 650px) {
  .testimonials__persons__jobs {
    gap: 0;
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 375px) {
  .testimonials__persons__jobs {
    font-size: 0.9rem;
    margin-bottom: 2rem;
  }
}
.testimonials__persons--img {
  margin-bottom: 1rem;
  border-radius: 20rem;
  align-self: center;
}
@media only screen and (max-width: 650px) {
  .testimonials__persons--img {
    width: 10%;
  }
}
@media only screen and (max-width: 375px) {
  .testimonials__persons--img {
    width: 20%;
  }
}

.gallery {
  display: flex;
}
@media only screen and (max-width: 650px) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.gallery img {
  width: 25%;
}
@media only screen and (max-width: 650px) {
  .gallery img {
    width: 100%;
  }
}

.footer {
  background-color: hsl(168, 34%, 41%);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 40vh;
  justify-content: center;
}
.footer__head {
  padding-bottom: 1rem;
  color: hsl(167, 70%, 14%);
  font-weight: 900;
  font-size: 1.6rem;
}
.footer__about {
  list-style: none;
  margin-bottom: 2rem;
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  align-self: center;
  display: flex;
  gap: 4.6rem;
}
.footer__about a {
  font-size: 1.3rem;
  color: hsl(167, 40%, 24%);
  text-decoration: none;
}
.footer__social-media {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  align-self: center;
}
.footer__social-media img {
  cursor: pointer;
  width: 1.5rem;
}/*# sourceMappingURL=main.css.map */